* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background: #072146;
}

form {
	margin: 130px auto 0;
	width: 40%;
	border:1px solid #eee;
	border-radius: 15px;
	padding: 0 20px;
	box-shadow: 2px 5px 30px #888888;
}

h1 {
	font-weight: 100;
	font-size: 40px;
}

input, label {
	display: block;
	margin: 10px 0;
}

input {
	width: 98%;
	height: 30px;
	padding: 5px;
	background: #eee;
	border: none;
	margin-bottom: 30px;
	font-size: 16px;
}

input[type="submit"] {
	padding: 10px 5px;
	background: #eee;
	border: none;
	max-width: 200px;
	font-size: 16px;
	background-color: #004481;
	color: white;
	height: auto;
	margin: 0 auto 30px;
}

label {
	font-weight: bold;
	margin-top: 20px;
}

main {
	background:white;
	margin: 0px auto;
	padding: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15%;
	right: 15%;
}

select {
	margin-bottom: 20px;
	width: 100%;
	padding: 20px;
	height: 40px;
	font-size: 16px;
	line-height: 24px;
}

select option {
	line-height: 24px;
	line-height: 200%;
}