.boton.ingreso:focus {
	outline-color:rgb(229, 151, 0);
	outline-color: aqua;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}

.contenido img {
	width: 90%;
	margin: 70px auto;
	display: block;
}