
.alert {
    position: relative;
    font-size: 20px;
    text-align: center;
    padding: 56px 15%;
}

.alert.danger {
    background-color: #fcdfdf;
}

.alert.success {
    background-color: #d9efe0;
}

.alert.info {
    background-color: #d4edfc;
}

.alert .img-centro {
    position: absolute;
    top: -65px;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
}

.alerta_centrado .danger img, .alerta_centrado .success img {
    left: 41px;
}

.alerta_centrado .danger {
    margin-top: 147px;
}

.alerta_centrado .info h2{
    font-family: 'BentonSansBBVA Bold', Arial, sans-serif;
    font-size: 32px;
    line-height: 1.5;
}

.alerta_centrado .success, .alerta_centrado .info {
    margin-bottom: 300px;
}

