/*
    Aplicación de errores en formularios:

    - campos "input"
    Se agrega la clase "error" a los inputs mediante javascript.
    Se agrega un <p class="error-message"></p> exactamente después del label del input.
    No es necesario mostrar y ocultar el error-message con javascript. Si está ubicado luego del label, se muestra y se oculta solo al detectar la clase error del input.

    - campos "select"
    Se agrega la clase "error" a los elementos custom-select mediante javascript.
    Se agrega un <p class="error-message"></p> exactamente después del select, dentro del div custom select.
    No es necesario mostrar y ocultar el error-message con javascript. Si está ubicado luego del select y dentro del div custom-select, se muestra y se oculta solo al detectar la clase error.
*/

.custom-select.error .error-message {
    top: 56px;
}

.error-message {
    display: none;
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 12px;
    color: #121212;
    padding-left: 20px;
    padding-top: 5px;
}

.error-message i {
    position: absolute;
    left: 0;
    top: 3px;
    color: #b92a45;
    font-size: 14px;
}

input.error, .custom-select.error .select-selected {
    box-shadow: 0 1px 0 0 #b92a45!important;
    background: #fcdfdf!important;
}

input.error + label + .error-message, .custom-select.error .error-message {
    display: block;
}