.footer {
    padding: 79px 0 87px; 
    background-color: #072146;
}
.footer a {
    color: #5bbeff;
    font-size: 15px;
}
.footer li {
    list-style: none;
    display: inline-block;
}
.politicas {
    margin-bottom: 22px;
}
.politicas li {
    margin-right: 38px;
}
.redes {
    position: absolute;
    right: 30px;
    top: 4px;
}
.redes li:not(:last-child) {
    margin-right: 15px;
}
.redes i {
    font-size: 24px;
}
.footer p {
    font-size: 12px;
    color: #bdbdbd;
}
.logo-footer-desktop {
    height: 33px;
    margin-bottom: 38px;
}
.logo-footer-mobile {
    height: 50px;
    margin-bottom: 38px;
    display: none;
}