.boton {
    font-family: 'BentonSansBBVA Bold', Arial, sans-serif;
    width: 240px;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    outline: none;
}

.boton.cancelar {
    border: solid 1px #1464a5;
    background-color: #ffffff;
    color: #1464a5;
}

.boton.cancelar:hover, .boton.cancelar:focus {
    border: solid 1px rgba(4 , 50, 99, 1);
    background-color: rgba(4 , 50, 99, 1);
    color: #ffffff;
}

.boton.principal {
    display: block;
    background-color: #02a5a5;
    color: #ffffff;
    margin: 68px auto 0;
}

.boton.principal:hover, .boton.principal:focus {
    background: #028484;
}

.boton.secundario {
    background-color: #1464a5;
    background: rgba(0, 68, 129, 1);
    color: #ffffff;
}

.boton.secundario:hover, .boton.secundario:focus {
    background: rgba(4, 50, 99, 1);
}

.botones-inf {
    margin-top: 71px;
}

.campos {
    max-width: 642px;
    margin: 0 auto;
}

.campos.col-3 {
    max-width: 938px;
}

.col-3 .botones-inf .boton {
    margin: 20px 2%;
}

.col-3 .custom-select, .col-3 .input-element {
    display: inline-block;
    margin: 20px 2%;
    width: 29%;
    position: relative;
}

.formulario {
    background-color: #f4f4f4;
    padding: 40px 15px 119px;
}

.formulario h2 {
    font-size: 20px;
    font-family: 'BentonSansBBVA Book', Arial, sans-serif;
    
}

.formulario .col-3 h2 {
    margin: 0px 2% 20px;
}

input {
    border: none;
    border-radius: 1px;
    width: 100%;
    outline: none;
    font-family: 'BentonSansBBVA Light', Arial, sans-serif;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], .select-selected {
    box-shadow: 0 1px 0 0 #666666;
    line-height: 24px;
    font-size: 15px;
    padding: 23px 15px 9px;
    color: #171717;
    background: #ffffff;
    box-sizing: border-box;
}

.input-container { 
    position: relative; 
    display:  inline-block; 
    width: 100%; 
}

.input-container i {
    position: absolute;
    right: 19px;
    top: 19px;
    font-size: 18px;
    color: #666666;
}
.input-container i.icon-coronita_hide {
    font-size: 17px;
    top: 20px;
}

.input-container input:focus + .input-label, .input-container input.has-text + .input-label { 
    transform: translate3d(0, -9px, 0);
    font-size: 12px;
}

.input-container label {
    top: 19px;
    font-size: 15px;
    position: absolute;
    transition: all .3s ease;
}

.input-element i.info {
    right: -22px;
    top: 21px;
    color: #0a63a7;
    font-size: 14px;
}

/* SELECT */

    .custom-select, .input-element {
        display: inline-block;
        margin: 20px 2.5%;
        width: 44.5%;
        position: relative;
    }

    .custom-select label, .input-container label  {
        color: #666666;
        font-weight: normal;
        left: 15px;
        pointer-events: none;
    }

    .custom-select label {
        top: 10px;
        font-size: 12px;
        position: absolute;
    }

    .custom-select select {
        display: none;
    }

    .live-search form {
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .live-search.custom-select form input[type="text"] {
        background: #ccc;
        width: 90%;
        margin: 15px auto;
        background: #fff;
        background: rgba(254, 245, 220, 0.5);
        border: 1px solid rgba(196, 151, 53, 1);;
        border-radius: 5px;
        box-shadow: none;
        padding: 5px 10px;
    }

    .live-search .oculto {
        display: none;
    }

    .select-selected:after {
        position: absolute;
        font-family: 'bbva-icons' !important;
        font-size: 30px;
        color: #1464a5;
        content: "\e82e";
        top: 15px;
        right: 10px;
        width: auto;
        height: auto;
        pointer-events: none;
        -webkit-transition: -webkit-transform .2s ease;
        transition: transform .2s ease;
    }

    .select-selected.select-arrow-active:after {
        -webkit-transform: rotate3d(0,0,1,180deg);
        transform: rotate3d(0,0,1,180deg);
    }

    .select-items div {
        color: #666666;
        padding: 12px 15px;
        line-height: 24px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
    }

    .select-items {
        position: absolute;
        background-color: #ffffff;
        color: #666666;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: -1px;
        box-shadow: 0px 2px 10px -2px #888888bd;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        max-height: 500px;
        z-index: 100;
    }

    .select-hide {
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
    }

    .select-items div:hover, .same-as-selected, .select-items div:focus {
        background-color: rgba(212, 237, 252, 0.5);
        color: #666666;
        outline: none;
    }

    .select-items:hover .same-as-selected, .select-items:hover div:focus {
        background-color: rgba(255, 255, 255, 1);
    }

/* SELECT */