* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.banner {
    background-image: url(../assets/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 76% top;
    height: 360px;
}

body {
    font-family: 'BentonSansBBVA Light', Arial, sans-serif;
    color: #121212;
}

.boton {
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.centrado {
    position: relative;
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
}

h1 {
    font-family: 'BentonSansBBVA Book', Arial, sans-serif;
    font-size: 32px;
    margin-bottom: 16px;
}

input[type="submit"] {
    cursor: pointer;
}

.resaltado {
    font-family: 'BentonSansBBVA Bold', Arial, sans-serif;
}