.header {
    padding: 22px 0 0;
    background-color: #072144;
    color: #ffffff;
}

.header span {
    margin-left: 20px;
    font-size: 16px;
    padding-bottom: 22px;
    display: inline-block;
}

.header img {
    height: 25px;
}