@font-face {
  font-family: 'bbva-icons';
  src: url('fonts/bbva-icons/bbva-icons3.eot?7acgag');
  src: url('fonts/bbva-icons/bbva-icons3.eot?7acgag#iefix') format("embedded-opentype"),
       url('fonts/bbva-icons/bbva-icons3.ttf?7acgag') format("truetype"),
       url('fonts/bbva-icons/bbva-icons3.woff?7acgag') format("woff"),
       url('fonts/bbva-icons/bbva-icons3.svg?7acgag#bbva-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}

.bbva-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bbva-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  width: auto;
  height: auto;
  background: none;
  margin-top: 0;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coronita_add:before {
  content: "\e90b";
}
.icon-coronita_alarm:before {
  content: "\e90c";
}
.icon-coronita_alert:before {
  content: "\e90d";
}
.icon-coronita_atm:before {
  content: "\e90e";
}
.icon-coronita_audio:before {
  content: "\e90f";
}
.icon-coronita_auto:before {
  content: "\e910";
}
.icon-coronita_block:before {
  content: "\e911";
}
.icon-coronita_blog-b:before {
  content: "\e912";
}
.icon-coronita_calendar:before {
  content: "\e913";
}
.icon-coronita_camera:before {
  content: "\e914";
}
.icon-coronita_cancel:before {
  content: "\e915";
}
.icon-coronita_cash:before {
  content: "\e916";
}
.icon-coronita_chat:before {
  content: "\e917";
}
.icon-coronita_checking:before {
  content: "\e918";
}
.icon-coronita_checkmark:before {
  content: "\e919";
}
.icon-coronita_alarm-ring:before {
  content: "\e91a";
}
.icon-coronita_chev:before {
  content: "\e91b";
}
.icon-secondary-bullet:before {
  content: "\e91c";
}
.icon-coronita_clock:before {
  content: "\e91d";
}
.icon-coronita_close:before {
  content: "\e91e";
}
.icon-coronita_commerce:before {
  content: "\e91f";
}
.icon-coronita_communication:before {
  content: "\e920";
}
.icon-coronita_computer:before {
  content: "\e921";
}
.icon-coronita_continue:before {
  content: "\e922";
}
.icon-coronita_credit-card:before {
  content: "\e923";
}
.icon-coronita_cvv:before {
  content: "\e924";
}
.icon-coronita_deposit:before {
  content: "\e925";
}
.icon-coronita_dine:before {
  content: "\e926";
}
.icon-coronita_document:before {
  content: "\e927";
}
.icon-coronita_dollar:before {
  content: "\e928";
}
.icon-coronita_download:before {
  content: "\e929";
}
.icon-coronita_edit:before {
  content: "\e92a";
}
.icon-coronita_entertainment:before {
  content: "\e92b";
}
.icon-coronita_euro:before {
  content: "\e92c";
}
.icon-coronita_fav:before {
  content: "\e92d";
}
.icon-coronita_filter:before {
  content: "\e92e";
}
.icon-coronita_hashtag:before {
  content: "\e92f";
}
.icon-coronita_help:before {
  content: "\e930";
}
.icon-coronita_home:before {
  content: "\e931";
}
.icon-coronita_grumpycat-line:before {
  content: "\e932";
}
.icon-coronita_image:before {
  content: "\e933";
}
.icon-coronita_info:before {
  content: "\e934";
}
.icon-coronita_insurance:before {
  content: "\e935";
}
.icon-coronita_link:before {
  content: "\e936";
}
.icon-coronita_loan:before {
  content: "\e937";
}
.icon-coronita_loan-stack:before {
  content: "\e938";
}
.icon-coronita_location:before {
  content: "\e939";
}
.icon-coronita_lock:before {
  content: "\e93a";
}
.icon-coronita_mail:before {
  content: "\e93b";
}
.icon-coronita_menu:before {
  content: "\e93c";
}
.icon-coronita_minus:before {
  content: "\e93d";
}
.icon-coronita_mobile:before {
  content: "\e93e";
}
.icon-coronita_mobile-b:before {
  content: "\e93f";
}
.icon-coronita_more:before {
  content: "\e940";
}
.icon-coronita_mortgage:before {
  content: "\e941";
}
.icon-coronita_offers:before {
  content: "\e942";
}
.icon-coronita_office:before {
  content: "\e943";
}
.icon-coronita_print:before {
  content: "\e944";
}
.icon-coronita_profile:before {
  content: "\e945";
}
.icon-coronita_quote:before {
  content: "\e946";
}
.icon-coronita_reload:before {
  content: "\e947";
}
.icon-coronita_return:before {
  content: "\e948";
}
.icon-coronita_rewards:before {
  content: "\e949";
}
.icon-coronita_save:before {
  content: "\e94a";
}
.icon-coronita_savings:before {
  content: "\e94b";
}
.icon-coronita_search:before {
  content: "\e94c";
}
.icon-coronita_settings:before {
  content: "\e94d";
}
.icon-coronita_shopping:before {
  content: "\e94e";
}
.icon-coronita_tablet:before {
  content: "\e94f";
}
.icon-coronita_tablet-b:before {
  content: "\e950";
}
.icon-coronita_transfer:before {
  content: "\e951";
}
.icon-coronita_trash:before {
  content: "\e952";
}
.icon-coronita_bullet:before {
  content: "\e953";
}
.icon-coronita_unlock:before {
  content: "\e954";
}
.icon-coronita_upload:before {
  content: "\e955";
}
.icon-coronita_video-chat:before {
  content: "\e956";
}
.icon-coronita_video-play:before {
  content: "\e957";
}
.icon-coronita_ehl-nowords:before {
  content: "\e958";
}
.icon-coronita_ehl:before {
  content: "\e959";
}
.icon-coronita_social:before {
  content: "\e95a";
}
.icon-coronita_interaction:before {
  content: "\e95b";
}
.icon-coronita_list:before {
  content: "\e95c";
}
.icon-coronita_tile:before {
  content: "\e95d";
}
.icon-coronita_call:before {
  content: "\e95e";
}
.icon-coronita_computer-screen:before {
  content: "\e95f";
}
.icon-coronita_fingerprint:before {
  content: "\e960";
}
.icon-coronita_global:before {
  content: "\e961";
}
.icon-coronita_history:before {
  content: "\e962";
}
.icon-coronita_minus-stag:before {
  content: "\e963";
}
.icon-coronita_plus-stag:before {
  content: "\e964";
}
.icon-coronita_visual:before {
  content: "\e965";
}
.icon-coronita_weather:before {
  content: "\e966";
}
.icon-coronita_web-b:before {
  content: "\e967";
}
.icon-coronita_google-play:before {
  content: "\e968";
}
.icon-coronita_award:before {
  content: "\e969";
}
.icon-coronita_balance:before {
  content: "\e96a";
}
.icon-coronita_bank:before {
  content: "\e96b";
}
.icon-coronita_bar:before {
  content: "\e96c";
}
.icon-coronita_barcode:before {
  content: "\e96d";
}
.icon-coronita_block_card:before {
  content: "\e96e";
}
.icon-coronita_bluetooth:before {
  content: "\e96f";
}
.icon-coronita_bookstore:before {
  content: "\e970";
}
.icon-coronita_build:before {
  content: "\e971";
}
.icon-coronita_cash-register:before {
  content: "\e972";
}
.icon-coronita_charge_card:before {
  content: "\e973";
}
.icon-coronita_checkmark-circle:before {
  content: "\e974";
}
.icon-coronita_circle-facebook:before {
  content: "\e975";
}
.icon-coronita_circle-google-plus:before {
  content: "\e976";
}
.icon-coronita_circle-instagram:before {
  content: "\e977";
}
.icon-coronita_circle-linkedin:before {
  content: "\e978";
}
.icon-coronita_circle-pinterest:before {
  content: "\e979";
}
.icon-coronita_circle-twitter:before {
  content: "\e97a";
}
.icon-coronita_circle-youtube:before {
  content: "\e97b";
}
.icon-coronita_coffee-shop:before {
  content: "\e97c";
}
.icon-coronita_config:before {
  content: "\e97d";
}
.icon-coronita_consult:before {
  content: "\e97e";
}
.icon-coronita_contract:before {
  content: "\e97f";
}
.icon-coronita_copy:before {
  content: "\e980";
}
.icon-coronita_copy_card:before {
  content: "\e981";
}
.icon-coronita_desktop:before {
  content: "\e982";
}
.icon-coronita_digital_card:before {
  content: "\e983";
}
.icon-coronita_discharge_card:before {
  content: "\e984";
}
.icon-coronita_discount:before {
  content: "\e985";
}
.icon-coronita_doc-pdf:before {
  content: "\e986";
}
.icon-coronita_doc-word:before {
  content: "\e987";
}
.icon-coronita_doc-xls:before {
  content: "\e988";
}
.icon-coronita_donate:before {
  content: "\e989";
}
.icon-coronita_education:before {
  content: "\e98a";
}
.icon-coronita_email-read:before {
  content: "\e98b";
}
.icon-coronita_executive:before {
  content: "\e98c";
}
.icon-coronita_express_account:before {
  content: "\e98d";
}
.icon-coronita_external-link:before {
  content: "\e98e";
}
.icon-coronita_florist:before {
  content: "\e98f";
}
.icon-coronita_graphics:before {
  content: "\e990";
}
.icon-coronita_grumpycat:before {
  content: "\e991";
}
.icon-coronita_health:before {
  content: "\e992";
}
.icon-coronita_hide:before {
  content: "\e993";
}
.icon-coronita_hotel:before {
  content: "\e994";
}
.icon-coronita_id:before {
  content: "\e995";
}
.icon-coronita_investment:before {
  content: "\e996";
}
.icon-coronita_jewel:before {
  content: "\e997";
}
.icon-coronita_location-current:before {
  content: "\e998";
}
.icon-coronita_location-explore:before {
  content: "\e999";
}
.icon-coronita_location-near-me:before {
  content: "\e99a";
}
.icon-coronita_location-none:before {
  content: "\e99b";
}
.icon-coronita_location-search:before {
  content: "\e99c";
}
.icon-coronita_map:before {
  content: "\e99d";
}
.icon-coronita_mic:before {
  content: "\e99e";
}
.icon-coronita_mobile_charge:before {
  content: "\e99f";
}
.icon-coronita_mobile_payment:before {
  content: "\e9a0";
}
.icon-coronita_money_exchange:before {
  content: "\e9a1";
}
.icon-coronita_nfc-connect:before {
  content: "\e9a2";
}
.icon-coronita_nfc-disconnect:before {
  content: "\e9a3";
}
.icon-coronita_pets:before {
  content: "\e9a4";
}
.icon-coronita_picture:before {
  content: "\e9a5";
}
.icon-coronita_pin-pad:before {
  content: "\e9a6";
}
.icon-coronita_pin-pad-disconnect:before {
  content: "\e9a7";
}
.icon-coronita_play-full:before {
  content: "\e9a8";
}
.icon-coronita_portfolio:before {
  content: "\e9a9";
}
.icon-coronita_power:before {
  content: "\e9aa";
}
.icon-coronita_promo:before {
  content: "\e9ab";
}
.icon-coronita_receipt:before {
  content: "\e9ac";
}
.icon-coronita_restaurant:before {
  content: "\e9ad";
}
.icon-coronita_retail:before {
  content: "\e9ae";
}
.icon-coronita_sales:before {
  content: "\e9af";
}
.icon-coronita_security:before {
  content: "\e9b0";
}
.icon-coronita_send:before {
  content: "\e9b1";
}
.icon-coronita_services:before {
  content: "\e9b2";
}
.icon-coronita_shop:before {
  content: "\e9b3";
}
.icon-coronita_stock:before {
  content: "\e9b4";
}
.icon-coronita_target:before {
  content: "\e9b5";
}
.icon-coronita_ticket:before {
  content: "\e9b6";
}
.icon-coronita_toys:before {
  content: "\e9b7";
}
.icon-coronita_transfer_account:before {
  content: "\e9b8";
}
.icon-coronita_transfer_card:before {
  content: "\e9b9";
}
.icon-coronita_travel:before {
  content: "\e9ba";
}
.icon-coronita_update:before {
  content: "\e9bb";
}
.icon-coronita_walk:before {
  content: "\e9bc";
}
.icon-coronita_wallet:before {
  content: "\e9bd";
}
.icon-coronita_wellness:before {
  content: "\e9be";
}
.icon-coronita_auto-bank:before {
  content: "\e9bf";
}
.icon-coronita_agenda:before {
  content: "\e9c0";
}
.icon-coronita_twitter:before {
  content: "\f09b";
}
.icon-coronita_facebook:before {
  content: "\f09c";
}
.icon-coronita_pinterest:before {
  content: "\f0d2";
}
.icon-coronita_google-plus:before {
  content: "\f0d6";
}
.icon-coronita_linkedin:before {
  content: "\f0e2";
}
.icon-coronita_youtube:before {
  content: "\f168";
}
.icon-coronita_instagram:before {
  content: "\f16d";
}
.icon-coronita_apple:before {
  content: "\f179";
}
.icon-coronita_windows:before {
  content: "\f17a";
}
.icon-coronita_android:before {
  content: "\f17b";
}
.icon-coronita_vimeo-square:before {
  content: "\f194";
}
.icon-coronita_google:before {
  content: "\f1a0";
}
.icon-icono-on-off:before {
  content: "\e900";
}
.icon-uniE000:before {
  content: "\e000";
}
.icon-uniE001:before {
  content: "\e001";
}
.icon-uniE002:before {
  content: "\e002";
}
.icon-uniE003:before {
  content: "\e003";
}
.icon-uniE004:before {
  content: "\e004";
}
.icon-uniE005:before {
  content: "\e005";
}
.icon-uniE006:before {
  content: "\e006";
}
.icon-uniE007:before {
  content: "\e007";
}
.icon-uniE008:before {
  content: "\e008";
}
.icon-uniE009:before {
  content: "\e009";
}
.icon-uniE00A:before {
  content: "\e00a";
}
.icon-uniE00B:before {
  content: "\e00b";
}
.icon-uniE00C:before {
  content: "\e00c";
}
.icon-uniE00D:before {
  content: "\e00d";
}
.icon-uniE00E:before {
  content: "\e00e";
}
.icon-uniE00F:before {
  content: "\e00f";
}
.icon-uniE010:before {
  content: "\e010";
}
.icon-uniE011:before {
  content: "\e011";
}
.icon-uniE012:before {
  content: "\e012";
}
.icon-uniE013:before {
  content: "\e013";
}
.icon-uniE014:before {
  content: "\e014";
}
.icon-uniE015:before {
  content: "\e015";
}
.icon-uniE016:before {
  content: "\e016";
}
.icon-uniE017:before {
  content: "\e017";
}
.icon-uniE018:before {
  content: "\e018";
}
.icon-uniE019:before {
  content: "\e019";
}
.icon-uniE01A:before {
  content: "\e01a";
}
.icon-uniE01B:before {
  content: "\e01b";
}
.icon-uniE01C:before {
  content: "\e01c";
}
.icon-uniE01D:before {
  content: "\e01d";
}
.icon-uniE01E:before {
  content: "\e01e";
}
.icon-uniE01F:before {
  content: "\e01f";
}
.icon-uniE020:before {
  content: "\e020";
}
.icon-uniE021:before {
  content: "\e021";
}
.icon-uniE022:before {
  content: "\e022";
}
.icon-uniE023:before {
  content: "\e023";
}
.icon-uniE024:before {
  content: "\e024";
}
.icon-uniE025:before {
  content: "\e025";
}
.icon-uniE026:before {
  content: "\e026";
}
.icon-uniE027:before {
  content: "\e027";
}
.icon-uniE028:before {
  content: "\e028";
}
.icon-uniE029:before {
  content: "\e029";
}
.icon-uniE02A:before {
  content: "\e02a";
}
.icon-uniE02B:before {
  content: "\e02b";
}
.icon-uniE02C:before {
  content: "\e02c";
}
.icon-uniE02D:before {
  content: "\e02d";
}
.icon-uniE02E:before {
  content: "\e02e";
}
.icon-uniE02F:before {
  content: "\e02f";
}
.icon-uniE030:before {
  content: "\e030";
}
.icon-uniE031:before {
  content: "\e031";
}
.icon-uniE032:before {
  content: "\e032";
}
.icon-uniE033:before {
  content: "\e033";
}
.icon-uniE034:before {
  content: "\e034";
}
.icon-uniE035:before {
  content: "\e035";
}
.icon-uniE036:before {
  content: "\e036";
}
.icon-uniE037:before {
  content: "\e037";
}
.icon-uniE038:before {
  content: "\e038";
}
.icon-uniE039:before {
  content: "\e039";
}
.icon-uniE03A:before {
  content: "\e03a";
}
.icon-uniE03B:before {
  content: "\e03b";
}
.icon-uniE03C:before {
  content: "\e03c";
}
.icon-uniE03D:before {
  content: "\e03d";
}
.icon-uniE03E:before {
  content: "\e03e";
}
.icon-uniE03F:before {
  content: "\e03f";
}
.icon-uniE040:before {
  content: "\e040";
}
.icon-uniE041:before {
  content: "\e041";
}
.icon-uniE042:before {
  content: "\e042";
}
.icon-uniE043:before {
  content: "\e043";
}
.icon-uniE044:before {
  content: "\e044";
}
.icon-uniE045:before {
  content: "\e045";
}
.icon-uniE046:before {
  content: "\e046";
}
.icon-uniE047:before {
  content: "\e047";
}
.icon-uniE048:before {
  content: "\e048";
}
.icon-uniE049:before {
  content: "\e049";
}
.icon-uniE04A:before {
  content: "\e04a";
}
.icon-uniE04B:before {
  content: "\e04b";
}
.icon-uniE04C:before {
  content: "\e04c";
}
.icon-uniE04D:before {
  content: "\e04d";
}
.icon-uniE04E:before {
  content: "\e04e";
}
.icon-uniE04F:before {
  content: "\e04f";
}
.icon-uniE050:before {
  content: "\e050";
}
.icon-uniE051:before {
  content: "\e051";
}
.icon-uniE052:before {
  content: "\e052";
}
.icon-uniE053:before {
  content: "\e053";
}
.icon-uniE054:before {
  content: "\e054";
}
.icon-uniE055:before {
  content: "\e055";
}
.icon-uniE056:before {
  content: "\e056";
}
.icon-uniE057:before {
  content: "\e057";
}
.icon-uniE058:before {
  content: "\e058";
}
.icon-uniE059:before {
  content: "\e059";
}
.icon-uniE05A:before {
  content: "\e05a";
}
.icon-uniE05B:before {
  content: "\e05b";
}
.icon-uniE05C:before {
  content: "\e05c";
}
.icon-uniE05D:before {
  content: "\e05d";
}
.icon-uniE05E:before {
  content: "\e05e";
}
.icon-uniE05F:before {
  content: "\e05f";
}
.icon-uniE060:before {
  content: "\e060";
}
.icon-uniE061:before {
  content: "\e061";
}
.icon-uniE062:before {
  content: "\e062";
}
.icon-uniE063:before {
  content: "\e063";
}
.icon-uniE064:before {
  content: "\e064";
}
.icon-uniE065:before {
  content: "\e065";
}
.icon-uniE066:before {
  content: "\e066";
}
.icon-uniE067:before {
  content: "\e067";
}
.icon-uniE068:before {
  content: "\e068";
}
.icon-uniE069:before {
  content: "\e069";
}
.icon-uniE06A:before {
  content: "\e06a";
}
.icon-uniE06B:before {
  content: "\e06b";
}
.icon-uniE06C:before {
  content: "\e06c";
}
.icon-uniE06D:before {
  content: "\e06d";
}
.icon-uniE06E:before {
  content: "\e06e";
}
.icon-uniE06F:before {
  content: "\e06f";
}
.icon-uniE070:before {
  content: "\e070";
}
.icon-uniE071:before {
  content: "\e071";
}
.icon-uniE072:before {
  content: "\e072";
}
.icon-uniE073:before {
  content: "\e073";
}
.icon-uniE074:before {
  content: "\e074";
}
.icon-uniE075:before {
  content: "\e075";
}
.icon-uniE076:before {
  content: "\e076";
}
.icon-uniE077:before {
  content: "\e077";
}
.icon-uniE078:before {
  content: "\e078";
}
.icon-uniE079:before {
  content: "\e079";
}
.icon-uniE07A:before {
  content: "\e07a";
}
.icon-uniE07B:before {
  content: "\e07b";
}
.icon-uniE07C:before {
  content: "\e07c";
}
.icon-uniE07D:before {
  content: "\e07d";
}
.icon-uniE07E:before {
  content: "\e07e";
}
.icon-uniE07F:before {
  content: "\e07f";
}
.icon-uniE080:before {
  content: "\e080";
}
.icon-uniE081:before {
  content: "\e081";
}
.icon-uniE082:before {
  content: "\e082";
}
.icon-uniE083:before {
  content: "\e083";
}
.icon-uniE084:before {
  content: "\e084";
}
.icon-uniE085:before {
  content: "\e085";
}
.icon-uniE086:before {
  content: "\e086";
}
.icon-uniE087:before {
  content: "\e087";
}
.icon-uniE088:before {
  content: "\e088";
}
.icon-uniE089:before {
  content: "\e089";
}
.icon-uniE08A:before {
  content: "\e08a";
}
.icon-uniE08B:before {
  content: "\e08b";
}
.icon-uniE08C:before {
  content: "\e08c";
}
.icon-uniE08D:before {
  content: "\e08d";
}
.icon-uniE08E:before {
  content: "\e08e";
}
.icon-uniE08F:before {
  content: "\e08f";
}
.icon-uniE090:before {
  content: "\e090";
}
.icon-uniE091:before {
  content: "\e091";
}
.icon-uniE092:before {
  content: "\e092";
}
.icon-uniE093:before {
  content: "\e093";
}
.icon-uniE094:before {
  content: "\e094";
}
.icon-uniE095:before {
  content: "\e095";
}
.icon-uniE096:before {
  content: "\e096";
}
.icon-uniE097:before {
  content: "\e097";
}
.icon-uniE098:before {
  content: "\e098";
}
.icon-uniE099:before {
  content: "\e099";
}
.icon-uniE09A:before {
  content: "\e09a";
}
.icon-uniE09B:before {
  content: "\e09b";
}
.icon-uniE09C:before {
  content: "\e09c";
}
.icon-uniE09D:before {
  content: "\e09d";
}
.icon-uniE09E:before {
  content: "\e09e";
}
.icon-uniE09F:before {
  content: "\e09f";
}
.icon-uniE0A0:before {
  content: "\e0a0";
}
.icon-uniE0A1:before {
  content: "\e0a1";
}
.icon-uniE0A2:before {
  content: "\e0a2";
}
.icon-uniE0A3:before {
  content: "\e0a3";
}
.icon-uniE0A4:before {
  content: "\e0a4";
}
.icon-uniE0A5:before {
  content: "\e0a5";
}
.icon-uniE0A6:before {
  content: "\e0a6";
}
.icon-uniE0A7:before {
  content: "\e0a7";
}
.icon-uniE0A8:before {
  content: "\e0a8";
}
.icon-uniE0A9:before {
  content: "\e0a9";
}
.icon-uniE0AA:before {
  content: "\e0aa";
}
.icon-uniE0AB:before {
  content: "\e0ab";
}
.icon-uniE0AC:before {
  content: "\e0ac";
}
.icon-uniE0AD:before {
  content: "\e0ad";
}
.icon-uniE0AE:before {
  content: "\e0ae";
}
.icon-uniE0AF:before {
  content: "\e0af";
}
.icon-uniE0B0:before {
  content: "\e0b0";
}
.icon-uniE0B1:before {
  content: "\e0b1";
}
.icon-uniE0B2:before {
  content: "\e0b2";
}
.icon-uniE0B3:before {
  content: "\e0b3";
}
.icon-uniE0B4:before {
  content: "\e0b4";
}
.icon-uniE0B5:before {
  content: "\e0b5";
}
.icon-uniE0B6:before {
  content: "\e0b6";
}
.icon-uniE0B7:before {
  content: "\e0b7";
}
.icon-uniE0B8:before {
  content: "\e0b8";
}
.icon-uniE0B9:before {
  content: "\e0b9";
}
.icon-uniE0BA:before {
  content: "\e0ba";
}
.icon-uniE0BB:before {
  content: "\e0bb";
}
.icon-uniE0BC:before {
  content: "\e0bc";
}
.icon-uniE0BD:before {
  content: "\e0bd";
}
.icon-uniE0BE:before {
  content: "\e0be";
}
.icon-uniE0BF:before {
  content: "\e0bf";
}
.icon-uniE0C0:before {
  content: "\e0c0";
}
.icon-uniE0C1:before {
  content: "\e0c1";
}
.icon-uniE0C2:before {
  content: "\e0c2";
}
.icon-uniE0C3:before {
  content: "\e0c3";
}
.icon-uniE0C4:before {
  content: "\e0c4";
}
.icon-uniE0C5:before {
  content: "\e0c5";
}
.icon-uniE0C6:before {
  content: "\e0c6";
}
.icon-uniE0C7:before {
  content: "\e0c7";
}
.icon-uniE0C8:before {
  content: "\e0c8";
}
.icon-uniE0C9:before {
  content: "\e0c9";
}
.icon-uniE0CA:before {
  content: "\e0ca";
}
.icon-uniE0CB:before {
  content: "\e0cb";
}
.icon-uniE0CC:before {
  content: "\e0cc";
}
.icon-uniE0CD:before {
  content: "\e0cd";
}
.icon-uniE0CE:before {
  content: "\e0ce";
}
.icon-uniE0CF:before {
  content: "\e0cf";
}
.icon-uniE0D0:before {
  content: "\e0d0";
}
.icon-uniE0D1:before {
  content: "\e0d1";
}
.icon-uniE0D2:before {
  content: "\e0d2";
}
.icon-uniE0D3:before {
  content: "\e0d3";
}
.icon-uniE0D4:before {
  content: "\e0d4";
}
.icon-uniE0D5:before {
  content: "\e0d5";
}
.icon-uniE0D6:before {
  content: "\e0d6";
}
.icon-uniE0D7:before {
  content: "\e0d7";
}
.icon-uniE0D8:before {
  content: "\e0d8";
}
.icon-uniE0D9:before {
  content: "\e0d9";
}
.icon-uniE0DA:before {
  content: "\e0da";
}
.icon-uniE0DB:before {
  content: "\e0db";
}
.icon-uniE0DC:before {
  content: "\e0dc";
}
.icon-uniE0DD:before {
  content: "\e0dd";
}
.icon-uniE0DE:before {
  content: "\e0de";
}
.icon-uniE0DF:before {
  content: "\e0df";
}
.icon-uniE0E0:before {
  content: "\e0e0";
}
.icon-uniE0E1:before {
  content: "\e0e1";
}
.icon-uniE0E2:before {
  content: "\e0e2";
}
.icon-uniE0E3:before {
  content: "\e0e3";
}
.icon-uniE0E4:before {
  content: "\e0e4";
}
.icon-uniE0E5:before {
  content: "\e0e5";
}
.icon-uniE0E6:before {
  content: "\e0e6";
}
.icon-uniE0E7:before {
  content: "\e0e7";
}
.icon-uniE0E8:before {
  content: "\e0e8";
}
.icon-uniE0E9:before {
  content: "\e0e9";
}
.icon-uniE0EA:before {
  content: "\e0ea";
}
.icon-uniE0EB:before {
  content: "\e0eb";
}
.icon-uniE0EC:before {
  content: "\e0ec";
}
.icon-uniE0ED:before {
  content: "\e0ed";
}
.icon-uniE0EE:before {
  content: "\e0ee";
}
.icon-uniE0EF:before {
  content: "\e0ef";
}
.icon-uniE0F0:before {
  content: "\e0f0";
}
.icon-uniE0F1:before {
  content: "\e0f1";
}
.icon-uniE0F2:before {
  content: "\e0f2";
}
.icon-uniE0F3:before {
  content: "\e0f3";
}
.icon-uniE0F4:before {
  content: "\e0f4";
}
.icon-uniE0F5:before {
  content: "\e0f5";
}
.icon-uniE0F6:before {
  content: "\e0f6";
}
.icon-uniE0F7:before {
  content: "\e0f7";
}
.icon-uniE0F8:before {
  content: "\e0f8";
}
.icon-uniE0F9:before {
  content: "\e0f9";
}
.icon-uniE0FA:before {
  content: "\e0fa";
}
.icon-uniE0FB:before {
  content: "\e0fb";
}
.icon-uniE0FC:before {
  content: "\e0fc";
}
.icon-uniE0FD:before {
  content: "\e0fd";
}
.icon-uniE0FE:before {
  content: "\e0fe";
}
.icon-uniE0FF:before {
  content: "\e0ff";
}
.icon-uniE100:before {
  content: "\e100";
}
.icon-uniE101:before {
  content: "\e101";
}
.icon-uniE102:before {
  content: "\e102";
}
.icon-uniE103:before {
  content: "\e103";
}
.icon-uniE104:before {
  content: "\e104";
}
.icon-uniE105:before {
  content: "\e105";
}
.icon-uniE106:before {
  content: "\e106";
}
.icon-uniE107:before {
  content: "\e107";
}
.icon-uniE108:before {
  content: "\e108";
}
.icon-uniE109:before {
  content: "\e109";
}
.icon-uniE10A:before {
  content: "\e10a";
}
.icon-uniE10B:before {
  content: "\e10b";
}
.icon-uniE10C:before {
  content: "\e10c";
}
.icon-uniE10D:before {
  content: "\e10d";
}
.icon-uniE10E:before {
  content: "\e10e";
}
.icon-uniE10F:before {
  content: "\e10f";
}
.icon-uniE110:before {
  content: "\e110";
}
.icon-uniE111:before {
  content: "\e111";
}
.icon-uniE112:before {
  content: "\e112";
}
.icon-uniE113:before {
  content: "\e113";
}
.icon-uniE114:before {
  content: "\e114";
}
.icon-uniE115:before {
  content: "\e115";
}
.icon-uniE116:before {
  content: "\e116";
}
.icon-uniE117:before {
  content: "\e117";
}
.icon-uniE118:before {
  content: "\e118";
}
.icon-uniE119:before {
  content: "\e119";
}
.icon-uniE11A:before {
  content: "\e11a";
}
.icon-uniE11B:before {
  content: "\e11b";
}
.icon-uniE11C:before {
  content: "\e11c";
}
.icon-uniE11D:before {
  content: "\e11d";
}
.icon-uniE11E:before {
  content: "\e11e";
}
.icon-uniE11F:before {
  content: "\e11f";
}
.icon-uniE120:before {
  content: "\e120";
}
.icon-uniE121:before {
  content: "\e121";
}
.icon-uniE122:before {
  content: "\e122";
}
.icon-uniE123:before {
  content: "\e123";
}
.icon-uniE124:before {
  content: "\e124";
}
.icon-uniE125:before {
  content: "\e125";
}
.icon-uniE126:before {
  content: "\e126";
}
.icon-uniE127:before {
  content: "\e127";
}
.icon-uniE128:before {
  content: "\e128";
}
.icon-uniE129:before {
  content: "\e129";
}
.icon-uniE12A:before {
  content: "\e12a";
}
.icon-uniE12B:before {
  content: "\e12b";
}
.icon-uniE12C:before {
  content: "\e12c";
}
.icon-uniE12D:before {
  content: "\e12d";
}
.icon-uniE12E:before {
  content: "\e12e";
}
.icon-uniE12F:before {
  content: "\e12f";
}
.icon-uniE130:before {
  content: "\e130";
}
.icon-uniE131:before {
  content: "\e131";
}
.icon-uniE132:before {
  content: "\e132";
}
.icon-uniE133:before {
  content: "\e133";
}
.icon-uniE134:before {
  content: "\e134";
}
.icon-uniE135:before {
  content: "\e135";
}
.icon-uniE136:before {
  content: "\e136";
}
.icon-uniE137:before {
  content: "\e137";
}
.icon-uniE138:before {
  content: "\e138";
}
.icon-uniE139:before {
  content: "\e139";
}
.icon-glyph:before {
  content: "\e800";
}
.icon-glyph-1:before {
  content: "\e801";
}
.icon-flecha-derecha:before {
  content: "\e802";
}
.icon-flecha-izquierda:before {
  content: "\e803";
}
.icon-glyph-4:before {
  content: "\e804";
}
.icon-conectados:before {
  content: "\e805";
}
.icon-localizacionfinal:before {
  content: "\e806";
}
.icon-icono-cuadrado-b:before {
  content: "\e807";
}
.icon-glyph-2:before {
  content: "\e808";
}
.icon-arrow-next:before {
  content: "\e809";
}
.icon-checked-mark:before {
  content: "\e80a";
}
.icon-glyph-3:before {
  content: "\e80b";
}
.icon-unchecked-mark:before {
  content: "\e80c";
}
.icon-glyph-5:before {
  content: "\e80d";
}
.icon-mas-circulo:before {
  content: "\e80e";
}
.icon-circulo-borde:before {
  content: "\e80f";
}
.icon-circulo-adelante:before {
  content: "\e810";
}
.icon-circulo-atras:before {
  content: "\e811";
}
.icon-icon-li-ok:before {
  content: "\e812";
}
.icon-llamanos:before {
  content: "\e813";
}
.icon-claves:before {
  content: "\e814";
}
.icon-play-video:before {
  content: "\e815";
}
.icon-mobil-ok:before {
  content: "\e816";
}
.icon-organizate:before {
  content: "\e817";
}
.icon-gestion-dia:before {
  content: "\e818";
}
.icon-glyph-6:before {
  content: "\e819";
}
.icon-glyph-7:before {
  content: "\e81a";
}
.icon-glyph-8:before {
  content: "\e81b";
}
.icon-glyph-9:before {
  content: "\e81c";
}
.icon-glyph-10:before {
  content: "\e81d";
}
.icon-glyph-11:before {
  content: "\e81e";
}
.icon-glyph-12:before {
  content: "\e81f";
}
.icon-glyph-13:before {
  content: "\e820";
}
.icon-glyph-14:before {
  content: "\e821";
}
.icon-glyph-15:before {
  content: "\e822";
}
.icon-activar-desactivar-tarjeta:before {
  content: "\e823";
}
.icon-aportaciones-planes-pensiones-app:before {
  content: "\e824";
}
.icon-app-apple-watch:before {
  content: "\e825";
}
.icon-atencion-al-cliente-contigo:before {
  content: "\e826";
}
.icon-firma-distancia-electronica:before {
  content: "\e827";
}
.icon-llamada-identificada:before {
  content: "\e828";
}
.icon-pagar-con-el-movil:before {
  content: "\e829";
}
.icon-pago-recibos-no-domiciliados:before {
  content: "\e82a";
}
.icon-sacar-dinero-sin-tarjeta-efectivo-movil:before {
  content: "\e82b";
}
.icon-tpv-movil-smart-pay:before {
  content: "\e82c";
}
.icon-up:before {
  content: "\e82d";
}
.icon-down:before {
  content: "\e82e";
}
.icon-mas:before {
  content: "\e82f";
}
.icon-menos:before {
  content: "\e830";
}
.icon-sacar-dinero-sin-tarjeta-efectivo-movil-1:before {
  content: "\e831";
}
.icon-belleza:before {
  content: "\e832";
}
.icon-coche:before {
  content: "\e833";
}
.icon-deportes:before {
  content: "\e834";
}
.icon-moda:before {
  content: "\e835";
}
.icon-ocio:before {
  content: "\e836";
}
.icon-otros:before {
  content: "\e837";
}
.icon-restauracion:before {
  content: "\e838";
}
.icon-tecnologia:before {
  content: "\e839";
}
.icon-viaje:before {
  content: "\e83a";
}
.icon-apagartarjeta:before {
  content: "\e83b";
}
.icon-camara:before {
  content: "\e83c";
}
.icon-cuentasin:before {
  content: "\e83d";
}
.icon-efectivomovil:before {
  content: "\e83e";
}
.icon-pagomovil:before {
  content: "\e83f";
}
.icon-glyph-16:before {
  content: "\e840";
}
.icon-icon_comparador:before {
  content: "\e841";
}
.icon-trae-tus-recibos:before {
  content: "\e842";
}
.icon-bloqueo-wallet:before {
  content: "\e901";
}
.icon-bloqueo:before {
  content: "\e902";
}
.icon-canje-libre-wallet:before {
  content: "\e903";
}
.icon-credito-online:before {
  content: "\e904";
}
.icon-cuenta-simple:before {
  content: "\e905";
}
.icon-pago-movil-wallet:before {
  content: "\e906";
}
.icon-wallet:before {
  content: "\e907";
}
.icon-icon_trae_tus_recibos:before {
  content: "\e908";
}
.icon-uniE901:before {
  content: "\e909";
}
.icon-uniE902:before {
  content: "\e90a";
}
.icon-uniF099:before {
  content: "\f099";
}
.icon-uniF09A:before {
  content: "\f09a";
}
.icon-uniF0D5:before {
  content: "\f0d5";
}
.icon-uniF0E1:before {
  content: "\f0e1";
}
.icon-uniF167:before {
  content: "\f167";
}