.boton.ingreso {
    width: 140px;
    background-color: #02a5a5;
    float: right;
    font-family: "BentonSansBBVA Medium", Arial, sans-serif;
    color: #ffffff;
    padding: 11px 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.boton.ingreso:hover, .boton.ingreso:focus {
    background: #028484;
}

.boton.ingreso.open {
    background-color: #ffffff;
    color: #02a5a5;
}

.contenedor_ingreso {
    position: absolute;
    right: 30px;
    top: 0px;
}

h2 {
    color: #02a5a5;
    font-size: 16px;
    margin-top: 33px;
}

#login-container {
    width: 280px;
    max-height: 0px;
    z-index: 1000;
    clear: both;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-sizing: border-box;
    overflow-y: hidden;
    position: relative;
}

#login-container.open {
    max-height: 1200px;
}

#login-container .custom-select {
    margin: 0 auto;
    width: 100%;
    }

#login-container .custom-select.error, #login-container input.error {
    margin-bottom: 15px;
}

#login-container .error-message {
    margin-top: 0;
    top: 53px;
}

#login-container form {
    padding: 20px;
    position: relative;
    z-index: 1;
}

#login-container.open #form-recuperar {
    content: "";
    width: 100%;
    height: 195px;
    box-sizing: border-box;
    background-image: url('../assets/bg-blueCore.svg');
    background-position: -10px bottom;
    background-size: cover;
    background-size: 500px;
    overflow: hidden;
    z-index: 0;
}

#login-container.open #form-recuperar::before {
    content: "";
    width: 118%;
    height: 95px;
    position: absolute;
    background: #ffffff;
    left: 0;
    top: -79px;
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
    z-index: 1;
}

#login-container #ingresar-btn {
    background-color: #02a5a5;
    margin-top: 69px;
    color: #ffffff;
}

#login-container #ingresar-btn:hover, #login-container #ingresar-btn:focus {
    background: #028484;
}

#login-container input[type="text"], #login-container input[type="password"], #login-container input[type="number"], #login-container .select-selected {
    background-color: rgba(244, 244, 244, 1);
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    box-shadow: none;
    padding: 19px 15px 5px;
}

#login-container input[type="submit"] {
    width: 100%;
    height: 48px;
    border: none;
    padding: 12px 15px;
    box-sizing: border-box;
    margin: 5px 0;
    font-family: "BentonSansBBVA Medium", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    cursor: pointer;
}

#login-container .input-element {
    width: 100%;
    display: block;
    margin: 20px auto;
}

#login-container #recuperar-btn {
    background-color: #237aba;
    margin-top: 20px;
    color: #ffffff;
}

#login-container #recuperar-btn:hover, #login-container #recuperar-btn:focus {
    background: #1668a5;
}

.continuar {
    margin: 55px auto ;
    height: 553px;
    position: relative;
    text-align: center;
    padding: 10% 25% 0;
}

.continuar::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.1);
    height: 553px;
    z-index: 0;
}

.continuar h1 {
    font-family: "BentonSansBBVA Bold", Arial, sans-serif;
    font-size: 32px;
    color: #FFF;
    position: relative;
    z-index: 1;
}

.continuar p {
    font-family: "BentonSansBBVA Bold", Arial, sans-serif;
    font-size: 26px;
    color: #FFF;
    position: relative;
    z-index: 1;
}