/* ##################################################################################################### */
/* ##################################################################################################### */
/* ------------------------------------------------ 479 ------------------------------------------------ */
/* ##################################################################################################### */
/* ##################################################################################################### */

@media screen and (max-width:479px ) {
    
    .boton {
        width: 100%!important;
        margin-right: 0px!important;
        margin-left: 0px!important;
    } 

    .boton.ingreso {
        width: 100%;
        float: none;
        display: block
    }

    .contenedor_ingreso {
        position: relative;
        width: 100%;
        right: 0;
    }

    .formulario {
        padding: 40px 30px 119px;
    }

    .formulario .col-3 h2 {
        margin-right: 0px;
        margin-left: 0px;
    }

    .header {
        padding-bottom: 0;
    }

    .header .centrado {
        padding: 0;
    }

    .header .centrado img, .header .centrado span  {
        padding-left: 30px;
    }

    #login-container {
        width: 100%;
    }

    /* Errores ------------------------------------------------------------------------ */
        
        .custom-select label {
            left: 15px;
        }    
        
        form:not(#form-login) .custom-select.error {
            margin-bottom: 30px!important;
        }

        .custom-select.error .error-message {
            margin-top: 1px;
        }

        .error-message {
            margin-top: 2px;
            top: 55px;
        }

        input.error {
            margin-bottom: 10px;
        }
    
    /* Errores ------------------------------------------------------------------------ */
    /* Formulario --------------------------------------------------------------------- */
           
        form:not(#form-login) .input-element, form:not(#form-login) .custom-select {
            display: block;
            margin: 20px 0;
            width: 100%;
            box-sizing: border-box;
        }

        form:not(#form-login) .select-selected:after {
            right: 10px;
        }

    /* Formulario --------------------------------------------------------------------- */
    /* Tooltip ------------------------------------------------------------------------ */

        .tooltip {
            width: 80%;
            right: -15px;
        }

    /* Tooltip ------------------------------------------------------------------------ */

 }


/* ##################################################################################################### */
/* ##################################################################################################### */
/* ------------------------------------------------ 767 ------------------------------------------------ */
/* ##################################################################################################### */
/* ##################################################################################################### */

 /* Valores responsive */
 /* 479 - 767 - 991 - 1023 - 1279 */
 @media screen and (max-width:767px ) {
    .col-3 .botones-inf .boton {
        width: 419px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .col-3 .custom-select, .col-3 .input-element {
        margin: 20px 2%;
        width: 45.6%;
    }

    .header span {
        display: block;
        margin: 10px 0 0;
    }

    .footer {
        text-align: center;
    }

    .footer .logo-footer-desktop {
        display: none;
    }
    
    .footer .logo-footer-mobile {
        display: block;
        margin: 0 auto 38px;
    }

	.redes {
        position: relative;
        top: 0;
        right: 0;
        margin: 20px 0;
        text-align: center;
    }

    .politicas li {
        margin-right: 0px;
        padding-bottom: 10px;
        display: block;
    }

}

/* ##################################################################################################### */
/* ##################################################################################################### */
/* ------------------------------------------------ 991 ------------------------------------------------ */
/* ##################################################################################################### */
/* ##################################################################################################### */

 /* Valores responsive */
 /* 479 - 767 - 991 - 1023 - 1279 */
 @media screen and (max-width:991px ) {
    .banner {
        background-position: left -342px top;
    }
 }


/* ##################################################################################################### */
/* ##################################################################################################### */
/* ------------------------------------------------ NNN ------------------------------------------------ */
/* ##################################################################################################### */
/* ##################################################################################################### */


