@font-face {
  font-family: 'BentonSansBBVA Bold';
  src: url("fonts/BentonSansBBVA-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/BentonSansBBVA-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BentonSansBBVA-Bold.woff") format("woff"), url("fonts/BentonSansBBVA-Bold.ttf") format("truetype"), url("fonts/BentonSansBBVA-Bold.svg#ed8435d366a4ac4bee8ecd80fc76b4b5") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'BentonSansBBVA Book';
  src: url("fonts/BentonSansBBVA-Book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/BentonSansBBVA-Book.eot?#iefix") format("embedded-opentype"), url("fonts/BentonSansBBVA-Book.woff") format("woff"), url("fonts/BentonSansBBVA-Book.ttf") format("truetype"), url("fonts/BentonSansBBVA-Book.svg#ace0ed135dbc9c8610ca3f0bf5ce3b98") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'BentonSansBBVA Light';
  src: url("fonts/BentonSansBBVA-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/BentonSansBBVA-Light.eot?#iefix") format("embedded-opentype"), url("fonts/BentonSansBBVA-Light.woff") format("woff"), url("fonts/BentonSansBBVA-Light.ttf") format("truetype"), url("fonts/BentonSansBBVA-Light.svg#f78597f6497138650c310eebac22df9c") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'BentonSansBBVA Medium';
  src: url("fonts/BentonSansBBVA-Medium.eot");
  /* IE9 Compat Modes */
  src: url("fonts/BentonSansBBVA-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/BentonSansBBVA-Medium.woff") format("woff"), url("fonts/BentonSansBBVA-Medium.ttf") format("truetype"), url("fonts/BentonSansBBVA-Medium.svg#a8060284b02b2442ada7a339eccbdbe3") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }