.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 13px 11px;
    background-color: #0a63a7;
    font-size: 12px;
    color: #ffffff;
    width: 102%;
    margin-left: -5%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.tooltip::after {
    content:"";
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid #0a63a7;
    border-bottom: 7px solid #0a63a7;
    top: -14px;
    right: 0;
}

.tooltip.open {
    visibility: visible;
    opacity: 1;
}

.tooltip-btn {
    cursor: pointer;
}